mixin statusBadge(build)
	if build.status === 'in-progress'
		span.label.label-info in progress

	if build.status === 'queued'
		span.label.label-default queued

	if build.status === 'done'
		span.label.label.sm.label-success done

	if build.status === 'error'
		span.label.label-danger error

	if build.status === 'canceled'
		- var canceledBy = this.state.build.canceledBy;
		span.label.label-warning(title="canceled by #{canceledBy.type}") canceled

if this.state.build
	.row
		.col-sm-3.hidden-xs
			BuildSidebar(projectName=this.state.build.project.name, currentBuild=this.state.build)

		.col-sm-9
			h1.page-header
				.pull-right(style={fontSize: '22px'})
					mixin statusBadge(this.state.build)

				if this.state.project.archived
					i(title="Project is archived").fa.fa-fw.fa-archive
				else
					Scm(scm=this.state.build.project.scm.type)

				span= this.state.build.project.name
				| 
				span execution #
				span= this.state.build.number

				p

				.small.text-muted
					- var node = this.state.build.node;
					if node
						| On
						| 
						span= node.type
						| 
						| node
						if node.type !== node.name
							| 
							| "
							span= node.name
							| "
						- var env = this.state.build.env;
						if env
							| , within "
							span= env.name
							| " environment
						| , initiated by
						| 
					else
						| Initiated by
						| 

					- var initiator = this.state.build.initiator;
					if initiator.type === 'build'
						Link(to="project", params={name: initiator.project.name})
							span= initiator.project.name
						| 
						| during the 
						| 
						Link(to="build", params={id: initiator.id})
							span execution #
							span= initiator.number
					else
						span= initiator.type

			.build-view_info
				.row
					.col-md-12
						p
							i.fa.fa-fw.fa-clock-o
							span 
							if this.state.build.startDate
								span Started 
								DateTime(value=this.state.build.startDate)
							else
								span Queued 
								DateTime(value=this.state.build.createDate)

							if this.state.build.endDate
								- var durationTitle = _(this.state.build.stepTimings).map(function(stepTiming) {
								-	return stepTiming.name + ': ' + (stepTiming.duration / 1000).toFixed(1) + ' sec';
								- }).join('\n');
								| , finished
								| 
								DateTime(value=this.state.build.endDate)
								| , took
								| 
								Duration(value=(this.state.build.endDate - this.state.build.startDate), title=durationTitle)

				- var scm = this.state.build.scm;
				- var rev = scm && scm.rev;
				- var changes = scm && scm.changes;
				- var targetScmRev = this.state.build.project.scm.rev;
				.row
					.col-md-12
						p
							i.fa.fa-fw.fa-code-fork
							| Scm target is
							| 
							span= targetScmRev
							| ,
							| 
							if changes
								if changes.length
									| changes:
								else
									| no changes, current revision is
									| 
									| "
									RevisionsItem(revision=rev)
									| " by
									| 
									= rev.author
							else if this.state.build.status === 'in-progress'
								| pulling scm changes...
							else
								| changes are not received

				if changes && changes.length
					RevisionsList(revisions=changes)

			//- some wrapper for error block to prevent collapsing of terminal
			div
				if this.state.build.error
					if this.state.build.error.message
						h3
							| Build
							| 
							if this.state.build.currentStep
								| step "
								span= this.state.build.currentStep
								| "
								| 
							| failed with error:
						.alert= this.state.build.error.message

					if this.state.build.error.stderr
						h3 stderr:
						.alert(style="whiteSpace: pre-wrap;")!= ansiUp.ansi_to_html(this.state.build.error.stderr)
				else if this.state.build.status === 'canceled'
					h3
						| Execution canceled
						| 
						if this.state.build.currentStep
							| during step "
							span= this.state.build.currentStep
							| "

			- var buildParams = this.state.build.params || {};
			- playbook = buildParams.playbook;

			if playbook
				h3
					i.fa.fa-fw.fa-sliders
					| 
					| Execution parameters

				div
					| Playbook:
					| 
					span= playbook.name

				div
					| Inventories:
					| 
					span= playbook.inventoryNames.join(', ')

				if playbook.limit
					div
						| Limit:
						| 
						span(style="wordBreak: break-all;")= playbook.limit

				if playbook.extraVars
					div
						| Extra vars:
						| 
						span(style="wordBreak: break-all;")= playbook.extraVars

				p

				.row
					.col-sm-3
						- var runButtonClasses = [];
						- if (this.state.project.archived) {
						-	runButtonClasses.push('disabled');
						- }

						button.btn.btn-default.btn-block(
							title="Run again with same parameters",
							class=runButtonClasses,
							onClick=this.onRunAgain
						)
							i.fa.fa-fw.fa-repeat
							| 
							| Run again

					.col-sm-3
						button.btn.btn-success.btn-block(
							title="Run another project/playbook",
							onClick=this.onRunProject
						)
							i.fa.fa-fw.fa-play
							| 
							| Run another


				h3
					i.fa.fa-fw.fa-tasks
					| 
					| Execution steps

				- var stepTimings = this.state.build.stepTimings || [];

				- var currentStep = this.state.build.currentStep;
				if !this.state.build.completed && currentStep
					//- prevent duplication of the same step
					- var lastStepTiming = stepTimings[stepTimings.length - 1];
					if !lastStepTiming || lastStepTiming.name !== currentStep
						- stepTimings.push({name: currentStep});

				if stepTimings
					each stepTiming, index in stepTimings
						div(key='step' + index)
							span= '* ' + stepTiming.name

							if !this.state.build.completed && stepTiming.name === currentStep
								| 
								img(src="/images/preloader.gif", width="24", height="24")

				else if !this.state.build.completed
					img(src="/images/preloader.gif", width="32", height="32")

				p

				if !this.state.showConsole
					.row
						.col-sm-6
							button.btn.btn-default.btn-block(onClick=this.toggleConsole)
								i.fa.fa-fw.fa-terminal
								| 
								| Show console output

			else
				p

				.text-center
					button.btn.btn-success(onClick=this.onRunProject)
						i.fa.fa-fw.fa-play
						| 
						| Run another project/playbook

				if !this.state.showConsole
					p

					.text-center
						button.btn.btn-default(onClick=this.toggleConsole)
							i.fa.fa-fw.fa-terminal
							| 
							| Show console output


			.build-view_terminal
				if this.state.showConsole
					h3
						i.fa.fa-fw.fa-terminal
						| 
						| Console output
					Terminal(build=this.state.build.id, showPreloader=true)

					if this.state.build.completed
						if this.state.build.status === 'error'
							.text-center.alert.alert-danger
								| Execution ended with error, took
								| 
								Duration(value=(this.state.build.endDate - this.state.build.startDate))
						else if this.state.build.status === 'canceled'
							.text-center.alert.alert-warning
								| Execution canceled, took
								| 
								Duration(value=(this.state.build.endDate - this.state.build.startDate))
						else if this.state.build.status === 'done'
							.text-center.alert.alert-success
								| Execution successfully completed, took
								|  
								Duration(value=(this.state.build.endDate - this.state.build.startDate))

					.text-center
						button.btn.btn-default(onClick=this.toggleConsole)
							i.fa.fa-fw.fa-terminal
							| 
							| Hide console output
