div

	.form-horizontal
		- var projects = this.state.projects;
		.form-group
			label.col-md-offset-2.col-md-2.control-label(for="project-name") Playbook
			.col-md-4
				select#project-name.form-control(
					onChange=this.onProjectChange
				)
					if projects
						each project in projects
							option(value= project.name, key= project.name)= project.name

		- var project;
		.form-group
			- var projectName = this.state.projectName;
			- project = _(projects).find(function(project) {
			-	return project.name === projectName;
			- });

			label.col-md-offset-2.col-md-2.control-label(for="scmBranch") Branch
			.col-md-4

				- var scmRev = project && project.scm ? project.scm.rev : '';
				select#scmBranch.form-control(
					onChange=this.onScmBranchChange
				)
					option(value=scmRev)= scmRev
					option(value=-1) Custom revision

				- var scmBranch = this.state.scmBranch;
				if scmBranch === '-1'
					| 
					input.form-control(
						value= this.state.scmRev,
						onChange=this.onScmRevChange
					)

		.form-group


			.col-md-offset-4.col-md-2
				button.btn.btn-md.btn-success.btn-block(onClick=this.onRunProject)
					i.fa.fa-fw.fa-play
					| 
					span(style="width: 250px;") Run

